.singleMovieCard{
    font-size: 0.5em;
    margin: 4em 0.5em 0.5em 0.5em;
    width: 55em;
    height: 20em;
    display: flex;
    box-shadow: var(--singleComponent-box-shadow);
    cursor: pointer;
    border-radius: 0.5em;
    transition: all 0.3s linear;
    gap: 0.5em;
    position: fixed;
}

.singleMovieCard:hover{
    transform: scale(1.02);
}
.poster{
    width: 25em;
    height: 20em;
    border-radius: 0.5em;
    border-bottom-right-radius: 0em;
    border-top-right-radius: 0em;
    object-fit: fill;
    flex-basis: 40%;
}
.cardDetails{
    display: flex;
    gap: 1.5em;
    text-transform: uppercase;
    font-size: 0.4em;
    color: var(--primary-background-color);
}
.typeOfMovie span{
    background-color: var(--movie-type-chip-bg-color);
    padding: 0.4em;
    border-radius: 0.8em;
}
.movieRating span{
    background-color: var(--movie-imdb-rating-chip-bg-color);
    padding: 0.4em;
    border-radius: 0.8em;
}
.detail{
    font-weight: bold;
    font-size: 0.5em;
}
.detail span{
    font-weight: lighter;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin: 0.8em;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
}
.details::-webkit-scrollbar{
    display: none;
}
@media(max-width: 450px){
    .singleMovieCard{
        font-size: 10px;
        flex-direction: column;
        height: 40em;
        width: 20em;
        gap: 1em;
    }
    .poster{
        border-radius: 1em 1em 0 0;
        width: 20em;
        height: 20em;
        flex-basis: 40%;
    }
}
@media(max-width: 320px){
    .singleMovieCard{
        font-size: 8px;
    }
}